<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato:thin" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Asap:700|Lato" rel="stylesheet">
</head>
<body>

<div class="Flex-Container">

<div class="Flex-Container" id="db-box">
  <ul>
    <% for(var i=0; i < experiments.length; i++) {%>
      <li class="exp_id" id='<%= experiments[i] %>'><%= experiments[i].id %> </li>
      <li> -- GAME : <%= experiments[i].data.name %> </li>
      <li> -- GAME-NUM : <%= experiments[i].data.number %> </li>
      <li> -- ROUND-NUM : <%= experiments[i].data.round %> </li>

      <li> -- LEVEL : <%= experiments[i].data.level %> </li>
      <li> -- DESC : <%= experiments[i].data.desc %> </li>
      <li> -- WIN : <%= experiments[i].data.win %> </li>
      <li> -- SCORE:  <%= experiments[i].data.score %> </li>
      <li> -- STEPS : <%= experiments[i].data.steps %> </li>
      <li>------------------------------------------------</li>
    <% } %>
  </ul>
</div>

</div>

</body>
</html>
