<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="/experiments.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato:thin" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Asap:700|Lato" rel="stylesheet">

</head>
<body>

<div class="Flex-Container">

<div class="Flex-Container experiments" id="exp-box">
  <h1>Current Experiment</h1>
  <div id='experiments'>
  <% for(var i=0; i < exp.length; i++) {%>
  <ul class="exp-container" id="<%=i%>">
    <li class='delete align center'>X</li>
    <li class='game align'>
      <select name='game'> 
        <% for(var g=0; g < games.length; g++) {%>
          <option id='<%=games[g]%>' <% if (games[g] == exp[i][0]) {%>selected='selected'<%}%>>
          <%= games[g] %>
          </option>
        <% } %>
      </select>
    </li>
    <% for(var l=0; l < exp[i][4]; l++) {%>
      <li id="<%=l%>" class='level align center <% if (exp[i][1].indexOf(l) != -1) {%> active = true <% } %>'><%=l%></li>
    <% }%>
    <li class='rounds'><input type='number' min='1' value='<%= exp[i][2] %>'></li></li>
    <li class='random'><input type='checkbox' <% if (exp[i][3]) { %> checked <% } %> ></input></li>
    </ul>
  <% } %>
  </div>
  <ul class='exp-container'>
    <li class='align center' id='add-exp'>Add experiment</li>
  </ul>

  <button id="begin">Run Experiment</button>
</div>

<footer class="footer">
  <a href="/admin">Editor</a>
</footer>

</div>

</body>
</html>
